/*
  Sweetwater Brand colors
  see: https://xd.adobe.com/spec/911d0a42-e376-46e5-a2d9-80e4760920b8/screen/756d05e1-c828-4ba3-8d52-1eefa0e3545a/Colors/
 */

// official colors
$red:     #E13233;
$orange:  #EC5E00;
$yellow:  #FFDA00;
$green:   #45920E;
$blue:    #156DA1;
$purple:  #673AB7;
$grey:    #F2F0ED;

// interpolated colors
//$teal:    lighten( mix( $green, $blue, 25% ), 20% );

// bootstrap overrides
$warning: #EC5E00;